@charset "utf-8";
/* CSS Document */

 .main{
		  float:left;
		 min-height:900px;
		 max-height:1500px;
		 min-width:100%;
		 }
   .header{
	    float:left;
	   height:100px;
	   width:100%;
	  }
	 .search{
		 float:left;
				height:350px;
			    width:100%;
				background-image:url(../image/img1.jpg);
				background-position:top;
				alignment-adjust:central;
				background-repeat:no-repeat;				
				border-bottom:1px solid #900;
				}   
     body{ 
			  margin:0px;
			  background:url(../image/top_bg.png);
			  background-position:top;
			  background-repeat:no-repeat;
			  position:relative;
			  }	
		.mid{
			 height:500px;
			 width:100%;
			 float:left;
			}
			.low{ 
			     height:100px;
			 float:left;
			 width:100%;
				}
	     .foot{
			 height:300px;
			 float:left;
			 width:100%;
			 background:#D25A3A;
			 background-image:url(../image/btm_bg.png);
			 background-position:bottom;
			 background-repeat:no-repeat;
			 }
		.m1{
			float:left;
			height:500px;
			width:80%;}	 
	    .m2{
			float:left;
			height:500px;
			width:20%;
			}
			.ad{
				height:300px;
				width:100%;
				float:left;
				}	
	 .slide{
			float:left;
			height:250px;
			width:95%;
			background:#D8D8D8;
			border-radius:10px;
			margin-left:2%;}	 
			.tag{
			float:left;
			height:250px;
			width:100%;
			}	
			#b1{
			float:left;
			height:240px;
			width:50%;
			border:1px solid #D25A3A;
			margin-top:5px;
			margin-left:2%;
			border-bottom-left-radius:10px;
			border-top-right-radius:10px;
			}	  		
			#b2{
			float:left;
			height:240px;
			width:45%;
			border:1px solid #30708D;
			margin-top:5px;
			margin-left:2%;
			border-bottom-left-radius:10px;
			border-top-right-radius:10px;
			}
			.logo{width:20%;
				 float:left;
				}
				.title{
					float:left;
					width:50%;
					text-align:center;
					margin-top:5px;
					}
				.link{
					float:left;
					width:30%;
					margin-top:5px;
					}		  		 					  	 

.select{
					 height:30px;
					 border-radius:5px;
					 box-shadow:2px;
					 margin-right:10px;
					 margin-top:20px;
					}
            .icon{
				float:left;
				width:100%;
				height:200px;}