@charset "utf-8";
/* CSS Document */

.style2 {
	color: #FF6600;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.style3 {
	font-size: 30px;
	color: #FFFFFF;
}
.style4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.style5 {font-family: "Century Schoolbook"}
.style6 {font-size: 23px}
.style7 {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
.style8 {
	color: #D25A3A;
	font-style: italic;
	font-weight: bold;
}
.style9 {color: #30708D}
.style11 {
	font-family: "Century Schoolbook";
	font-weight: bold;
	font-style: italic;
	color: #D25A3A;
}
.style12 {
	font-family: Arial, Helvetica, sans-serif;
	color: #30708D;
	font-size: 12px;
}
.style14 {
	font-family: "Century Schoolbook";
	font-style: italic;
	font-size: 25px;
}
.style15 {
	font-size: 14px;
	font-style: italic;
	color: #D25A3A;
}
.style17 {font-family: Arial, Helvetica, sans-serif; color: #FFFFFF; font-size: 12px; }
.style19 {font-family: "Century Schoolbook"; font-style: italic; font-size: 25px; color: #FFFFFF; }
.style26 {font-size: 18px}
.style28 {font-size: 12px}
.style20 {font-size: 13px; color: #FFFFFF; font-family: "Century Schoolbook"; }
.style33 {font-weight: bold; color: #D25A3A;}
.style37 {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FF0000;
	font-weight: bold;
}
.style39 {font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #30708D; }
.style40 {color: #30708D; font-size: 25px; font-style: italic; }
.style42 {
	font-size: 12px;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}
.style43 {
	color: #D25A3A;
	font-style: italic;
}
.style45 {
	color: #FFFFFF;
	font-size: 20px;
	font-family: "Century Schoolbook";
}
.style46 {
	color: #FFFFFF;
	font-size: 20px;
}
.style47 {
	font-family: "Franklin Gothic Demi";
	font-weight: bold;
	color: #FFFFFF;
	font-size: 16px;
}